
.wrapper {
    display: inline-flex;
}
.wrapper .dynamic {
    /* height: 55px; */
    overflow: hidden;
}
.dynamic li {
    color: #f70d0d;
    border: 3px solid gold;
    list-style: none;
    font-size: 30px;
    font-weight: 900;
    position: relative;
    top: 0;
    animation: slide 16s steps(6) infinite;
}
@keyframes slide {
    100%{
      top: -335px;
    }
}

.dynamic li span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    background-color: black;
    
    /* border-left-color: 6px solid #Fc6d6d; */
    animation: typing 2.6s steps(18) infinite;

}
@keyframes typing {
    100%{
        left: 100%;
        /* margin: 0 -35px 0 35px; */
    }
}
